informe.out
informe.pdf
informe.run.xml
informe-blx.bib
informe.aux
informe.bbl
informe.blg
informe.log
*.aux
informe.synctex.gz
inform.synctex.gz
plan.synctex.gz
tmp
.idea
build
target



.gradle
*.iml
